:root {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background: #ffffff;
    color: #444;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    user-select: none;
}

nav {
    --nav-size: 4.5rem;

    display: grid;
    grid-template-columns: var(--nav-size) 1fr auto;
    grid-template-rows: 1fr auto;

    width: 100%;
    height: var(--nav-size);

    grid-template-areas:
        'logo title user'
        'logo menus user';

    border-bottom: 1px solid #ddd;
    padding: 0 1rem 0 0;

    .logo {
        grid-area: logo;
        place-self: center;

        width: var(--nav-size);
        height: var(--nav-size);

        padding: 1rem;

        // background: rgba(0, 0, 0, 0.4);
    }

    .title {
        grid-area: title;
        align-self: end;
        justify-self: start;

        padding: 0 0.5rem;

        font-size: 17px;
        font-weight: 600;
    }

    .menus {
        grid-area: menus;

        display: flex;

        .menu-item {
            padding: 0.25rem 0.5rem;

            cursor: pointer;

            &:hover {
                background: #e8e8e8;
            }
        }
    }

    .user {
        grid-area: user;
        align-self: center;

        @extend .button;
    }
}

.workspace {
    display: flex;

    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;

    width: 25%;
    height: 100%;

    min-width: 17rem;

    background: #fff;
    border-right: 1px solid #ddd;

    --modes-size: 3.5rem;

    .modes {
        width: var(--modes-size);
        height: 100%;

        display: flex;
        flex-direction: column;

        border-right: 1px solid #ddd;

        .mode {
            width: var(--modes-size);
            height: var(--modes-size);

            padding: 0.5rem;

            display: grid;
            place-content: center;

            cursor: pointer;

            color: #555;

            &.selected {
                border-left: 3px solid slateblue;
                padding-right: calc(0.5rem + 3px);
            }

            &:hover {
                background: #e8e8e8;
            }

            // DEBUG::
            .todo-box {
                width: 2rem;
            }
        }
    }

    .view {
        padding: 0.5rem;

        .outline {
            --ggs: 0.7;

            i {
                color: #666;
            }

            .node {
                position: relative;
                display: flex;
                flex-direction: column;

                align-items: start;

                padding-left: 1px;

                &::before {
                    content: '';
                    position: absolute;

                    top: 1rem;
                    transform: translate(0, -1px);
                    right: 100%;

                    width: 0.5rem;
                    height: 2px;

                    background: #aaa;
                }

                & > .label {
                    height: 2rem;
                    padding: 0 0.25rem;

                    display: flex;
                    align-items: center;

                    gap: 0.25rem;

                    .todo-box {
                        width: 18px;
                    }

                    &:hover {
                        background: #f0f0f0;
                    }
                }

                & > .children {
                    position: relative;
                    padding-left: 1rem;

                    &::before {
                        content: '';
                        position: absolute;

                        top: 0;
                        bottom: 1rem;
                        left: 0.5rem;
                        right: 100%;

                        width: 2px;

                        background: #aaa;
                    }
                }

                &.axis {
                    & > .label {
                        border-radius: 1rem;
                        padding-right: 0.5rem;
                    }
                }
            }

            & > .node {
                & > .label {
                    font-weight: 600;
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}

.blocks {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    .block {
        padding: 0.5rem;
        border-left: 3px solid transparent;

        &:hover {
            background: #f0f0f0;
            border-left: 3px solid slateblue;
        }
    }
}

// .workspace {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .breadcrumb {
//         width: 100%;

//         display: flex;
//         align-items: center;
//         justify-content: start;

//         gap: 0.25rem;

//         padding: 0.5rem 1rem;

//         background: #e0e0e0;
//         border-bottom: 1px solid #c8c8c8;

//         font-family: monospace;
//         font-size: 110%;

//         .sep {
//             color: #888;
//         }
//     }

//     .blocks {
//         width: 100%;
//         height: 100%;

//         padding: 1rem;

//         display: flex;
//         flex-direction: column;
//         align-items: start;

//         overflow-y: scroll;

//         .block {
//             padding: 1rem;
//             background: #ffffff;
//             box-shadow: 0 0 1rem 0 #00000010;

//             border-radius: 1rem;
//         }

//         .value {
//             user-select: none;

//             &.text,
//             &.label,
//             &.integer,
//             &.rational,
//             &.decimal,
//             &.row,
//             &.column,
//             &.grid {
//                 border: 1px solid #aaa;
//                 background: #0000000a;

//                 border-radius: 3px;
//             }

//             &.integer,
//             &.rational,
//             &.decimal {
//                 font-family: monospace;
//                 font-size: 115%;

//                 width: 100%;
//                 height: 100%;

//                 display: flex;
//                 align-items: center;
//                 justify-content: end;

//                 padding: 0.25rem;
//             }

//             &.text,
//             &.label {
//                 padding: 0.25rem;

//                 display: flex;
//                 align-items: center;
//                 justify-content: start;
//             }

//             &.label {
//                 font-weight: 600;
//                 justify-content: center;
//             }

//             &.row,
//             &.column {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 gap: 0.5rem;
//             }

//             &.row,
//             &.column,
//             &.grid {
//                 padding: 0.5rem;
//             }

//             &.row {
//                 flex-direction: row;
//             }

//             &.column {
//                 flex-direction: column;
//             }

//             &.grid {
//                 display: grid;
//                 grid-template-columns: repeat(var(--columns), auto);

//                 gap: 0.25rem;
//             }

//             &:hover {
//                 border-color: #777;
//             }
//         }
//     }
// }

// Reset

p {
    margin: 0;
}

// Components

.button {
    background: #e8e8e8;
    // border: 1px solid #ddd;
    border-radius: 0.25rem;

    padding: 0.25rem 0.5rem;
}

.todo-box {
    width: 100%;
    aspect-ratio: 1;

    background: #ddd;
}
