:root {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;

    --nav-size: 4.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background: #ffffff;
    color: #444;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    user-select: none;
}

nav {
    display: grid;
    grid-template-columns: var(--nav-size) 1fr auto;
    grid-template-rows: 1fr auto;

    width: 100%;
    height: var(--nav-size);

    grid-template-areas:
        'logo title user'
        'logo menus user';

    border-bottom: 1px solid #ddd;
    padding: 0 1rem 0 0;

    .logo {
        grid-area: logo;
        place-self: center;

        width: var(--nav-size);
        height: var(--nav-size);

        padding: 1rem;

        // background: rgba(0, 0, 0, 0.4);
    }

    .title {
        grid-area: title;
        align-self: end;
        justify-self: start;

        padding: 0 0.5rem;

        font-size: 17px;
        font-weight: 600;
    }

    .menus {
        grid-area: menus;

        display: flex;

        .menu-item {
            padding: 0.25rem 0.5rem;

            cursor: pointer;

            &:hover {
                background: #e8e8e8;
            }
        }
    }

    .user {
        grid-area: user;
        align-self: center;

        @extend .button;
    }
}

.workspace {
    display: flex;

    width: 100%;
    height: calc(100vh - var(--nav-size));
}

.sidebar {
    display: flex;

    height: 100%;

    background: #fff;

    --modes-size: 3.5rem;

    .modes {
        width: var(--modes-size);
        height: 100%;

        display: flex;
        flex-direction: column;

        border-right: 1px solid #ddd;

        .mode {
            width: var(--modes-size);
            height: var(--modes-size);

            padding: 0.5rem;

            display: grid;
            place-content: center;

            cursor: pointer;

            color: #555;

            &.selected {
                border-left: 3px solid slateblue;
                padding-right: calc(0.5rem + 3px);
            }

            &:hover {
                background: #e8e8e8;
            }

            // DEBUG::
            .todo-box {
                width: 2rem;
            }
        }
    }

    .view {
        padding: 0.5rem;

        width: 20vw;
        min-width: 14rem;

        border-right: 1px solid #ddd;

        .outline {
            --ggs: 0.7;

            i {
                color: #666;
            }

            .node {
                position: relative;
                display: flex;
                flex-direction: column;

                align-items: start;

                padding-left: 1px;

                &::before {
                    content: '';
                    position: absolute;

                    top: 1rem;
                    transform: translate(0, -1px);
                    right: 100%;

                    width: 0.5rem;
                    height: 2px;

                    background: #aaa;
                }

                & > .label {
                    height: 2rem;
                    padding: 0 0.25rem;

                    display: flex;
                    align-items: center;

                    gap: 0.25rem;

                    .todo-box {
                        width: 18px;
                    }

                    &:hover {
                        background: #f0f0f0;
                    }
                }

                & > .children {
                    position: relative;
                    padding-left: 1rem;

                    &::before {
                        content: '';
                        position: absolute;

                        top: 0;
                        bottom: 1rem;
                        left: 0.5rem;
                        right: 100%;

                        width: 2px;

                        background: #aaa;
                    }
                }

                &.axis {
                    & > .label {
                        border-radius: 1rem;
                        padding-right: 0.5rem;
                    }
                }
            }

            & > .node {
                & > .label {
                    font-weight: 600;
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}

.blocks {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    align-items: start;

    overflow-y: scroll;

    max-width: 100%;
    max-height: 100%;

    .block {
        max-width: 100%;

        // max-height: 75vh;
        // max-width: 80%;

        padding: 0.5rem;
        border-left: 3px solid transparent;

        &:hover {
            // background: #f8f8f8;
            border-left: 3px solid slateblue;
        }

        //
        // Blocks
        //

        .tensor {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;

            align-items: start;

            font-family: 'DM Mono', monospace;
            font-size: 14px;

            border: 2px solid #aaa;

            .axis {
                padding: 0.125rem 0.5rem;
                min-width: 5rem;

                border: 1px solid #c8c8c8;
                background: #e0e0e0;

                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 15px;

                color: #484848;

                display: grid;
                place-content: center;

                cursor: grab;

                &:hover {
                    background: #c8c8c8;
                }

                &.drag-preview {
                    min-height: 1rem;
                }
            }

            .header {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 15px;

                color: #484848;

                padding: 0.125rem 0.25rem;
                min-width: 5rem;

                border-left: 1px solid #c8c8c8;
                border-top: 1px solid #c8c8c8;
                background: #f0f0f0;

                display: grid;
                place-content: center;

                &:hover {
                    background: #ddd;
                }
            }

            .axis-control {
                width: 100%;
                min-height: 1rem;

                display: flex;

                background: #f0f0f0;

                &.slice-and-column {
                    justify-content: space-between;
                    align-items: end;

                    border-bottom: 2px solid #aaa;

                    .slice-axis {
                        display: grid;
                        grid-template-rows: auto auto;

                        grid-auto-flow: column;

                        border-right: 2px solid #aaa;

                        .axis {
                            border-left: none;
                            border-right: none;
                            border-top: none;
                        }
                    }

                    .column-axis {
                        display: flex;
                        flex-direction: row;

                        justify-content: end;
                    }
                }

                &.row {
                    justify-content: start;

                    border-top: 1px solid #aaa;

                    .row-axis {
                        display: flex;
                        flex-direction: row;

                        justify-self: start;
                    }
                }
            }

            .grid {
                display: grid;

                grid-template-columns: auto repeat(var(--columns), auto);
                grid-template-rows: auto auto repeat(var(--rows), auto);

                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;

                overflow: auto;
                max-width: 100%;
                max-height: 50vh;

                .column-headers {
                    grid-row: 2 / 3;
                    grid-column: 2 / span var(--columns);

                    display: grid;
                    grid-template-columns: repeat(var(--columns), auto);
                    grid-auto-rows: auto;

                    .header {
                        display: grid;
                        align-content: center;
                        justify-content: center;

                        grid-column: var(--index) / span var(--span);
                        grid-row: var(--level) / span 1;

                        &.first {
                            border-top: none;
                        }
                    }
                }

                .row-headers {
                    grid-row: 3 / span var(--rows);
                    grid-column: 1 / 2;

                    display: grid;
                    grid-template-rows: repeat(var(--rows), auto);
                    grid-auto-columns: auto;

                    .header {
                        display: grid;
                        align-content: center;
                        justify-content: start;

                        grid-row: var(--index) / span var(--span);
                        grid-column: var(--level) / span 1;

                        &.first {
                            border-left: none;
                        }
                    }
                }

                .data {
                    grid-row: 3 / span var(--rows);
                    grid-column: 2 / span var(--columns);

                    display: grid;
                    grid-template-columns: repeat(var(--columns), auto);

                    background: #fff;

                    .cell {
                        text-align: right;
                        padding: 0.125rem 0.25rem;
                        min-width: 5rem;

                        border-left: 1px solid #ddd;
                        border-top: 1px solid #ddd;

                        &:hover {
                            background: #f0f0f0;
                        }
                    }
                }
            }
        }
    }
}

// Reset

p {
    margin: 0;
}

// Components

.button {
    background: #e8e8e8;
    // border: 1px solid #ddd;
    border-radius: 0.25rem;

    padding: 0.25rem 0.5rem;
}

.todo-box {
    width: 100%;
    aspect-ratio: 1;

    background: #ddd;
}
