@layer base, typography, utilities, components;

:root {
    color-scheme: light dark;

    --text: light-dark(#333, #ddd);

    --bg-main: light-dark(hsl(220, 14%, 92%), #222);

    --bg: light-dark(hsl(210, 20%, 98%), #333);
    --bg-header: light-dark(hsl(220, 14%, 96%), #444);
    --bg-label: light-dark(hsl(220, 14%, 92%), #111);

    --bg-hover: light-dark(hsl(220 14% 50% / 0.05), #393939);

    --border: light-dark(#d1d5db, #222);
    --border-divider: light-dark(#e5e7eb, #222);

    --shadow: 0 0.125rem 0.35rem light-dark(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        margin: 0;
        font-family: "Source Sans Pro", system-ui, sans-serif;
    }

    button {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5rem;
        align-items: center;

        background: linear-gradient(to bottom, hsl(220 14% 93%), hsl(220 14% 90%));
        color: hsl(210 70% 10%);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: 600;
        box-shadow: var(--shadow);
        border: 1px solid hsl(210 14% 80%);

        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;

        height: 1.75rem;

        cursor: pointer;

        &:hover {
            filter: brightness(1.025);
        }

        &:active {
            filter: brightness(0.975);
        }

        &.icon {
            place-items: center;
            padding: 0;
            width: 1.75rem;
        }

        &.reset {
            all: unset;
        }
    }
}

@layer typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        margin: 0;
    }

    p {
        line-height: 1.5;
        margin-bottom: 1em;
    }

    code {
        font-family: "JetBrains Mono Variable", monospace;
        font-size: 0.85em;

        background: light-dark(hsl(210, 18%, 90%), #333);
        padding: 0.1rem 0.25rem;
        border-radius: 0.25rem;
    }
}

@layer components {
    body {
        background-color: var(--bg-main);
        color: var(--text);

        display: grid;
        justify-items: center;
        font-size: 16px;
        padding: 1rem 1rem 25vh 1rem;

        user-select: none;
    }

    input,
    textarea {
        background: transparent;
        border: none;
        padding: 0.5rem;

        font-family: "JetBrains Mono Variable", monospace;
        font-size: 15px;
        outline: none;
    }

    .card {
        background: var(--bg);
        border: 1px solid light-dark(#d1d5db, #444);
        border-radius: 0.25rem;
        box-shadow: var(--shadow);
        overflow: clip;
    }

    @extracted-css;
}

@layer utilities {
    .grid-h {
        display: grid;
        gap: 0.25rem;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
    }

    .grid-v {
        display: grid;
        grid-auto-flow: row;
    }

    .grid-fill {
        place-self: stretch;
        display: grid;
    }

    .flex-h {
        display: flex;
        flex-direction: row;

        gap: 0.5rem;
        align-items: center;
    }

    .flex-h > .fill {
        flex-grow: 1;
    }

    .text-small {
        font-size: 14px;
    }

    .text-dimmed {
        color: light-dark(#888, #888);
    }

    .text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
