@layer base, typography, components, utilities;

:root {
    color-scheme: light dark;
}

@layer base {
    body {
        margin: 0;
        font-family: "Source Sans Pro", system-ui, sans-serif;
    }
}

@layer typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        margin: 0;
    }

    p {
        line-height: 1.5;
        margin-bottom: 1em;
    }
}

@layer components {
    body {
        background-color: light-dark(#f0f0f0, #333);
        color: light-dark(#333, #ddd);

        display: grid;
        justify-items: center;
        font-size: 16px;

        user-select: none;
    }

    input,
    textarea {
        font-family: "JetBrains Mono Variable", monospace;
        font-size: 15px;
        outline: none;
    }

    .card {
        background: light-dark(#fff, #444);
        border: 1px solid light-dark(#ccc, #555);
        border-radius: 0.25rem;
        box-shadow: 0 0.125rem 0.35rem rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
    }

    @extracted-css;
}

@layer utilities {
    .grid-h {
        display: grid;
        gap: 0.25rem;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
    }

    .text-small {
        font-size: 14px;
    }

    .text-dimmed {
        color: light-dark(#888, #888);
    }
}
