@layer base, typography, components, utilities;

@layer base {
    *,
    *::before,
    *::after {
        font: inherit;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        min-height: 100%;

        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 1.5;

        color: #333;
        background-color: #f0f0f0;

        user-select: none;
    }

    img {
        display: block;
    }
}

@layer typography {
    code {
        font-family: 'JetBrains Mono', monospace;
    }

    strong {
        font-weight: 500;
    }

    ::selection {
        background: #5a83ff;
        color: #fff;
    }
}

@layer components {
    button {
        display: grid;
        place-content: center;

        padding: 0.125rem 0.5rem;
        border: none;
        border-radius: 0.35rem;
        box-shadow: 0 0 0.5rem #0001;

        background: #ddd;
        color: #333;

        font-weight: 600;

        cursor: pointer;

        &:hover {
            background: #ccc;
        }
    }

    nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        position: relative;

        font-weight: 500;

        background: #fff;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0 0.5rem #0001;

        .logo {
            font-size: 20px;
        }

        > * {
            padding: 0.5rem 0.75rem;
        }

        > .left {
            grid-column: 1 / 2;
        }

        > .right {
            grid-column: -2 / -1;
        }

        > .center {
            position: absolute;

            left: 50%;
            transform: translateX(-50%);
        }
    }

    main {
        padding: 2rem 4rem;
        display: grid;
    }

    .notebook {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: row;
        gap: 2rem;

        /* border: 1px dashed magenta; */

        align-content: start;
        justify-content: center;
    }

    .cell {
        display: grid;
        grid-template-rows: auto auto;

        place-content: center;

        > .drop-zone {
            grid-row: span 2;

            background: #e0e0e0;

            box-shadow: inset 0 0 0.5rem #0002;
            border: 2px dashed #bbb;
            border-radius: 0.35rem;

            min-width: 40rem;
            min-height: 10rem;

            display: grid;
            place-content: center;

            .text {
                color: #888;
                font-size: 18px;
                font-weight: 500;
            }
        }

        > .input {
            display: grid;

            background: #fff;
            border: 1px solid #ccc;
            border-radius: 0.35rem;
            box-shadow: 0 0 0.5rem #0001;

            position: relative;

            > .metadata-left {
                position: absolute;

                top: 50%;
                right: 100%;
                transform: translateY(-50%);

                padding-right: 1rem;
                text-align: right;

                font-size: 13px;
                font-weight: 500;
                color: #666;
            }

            > .content {
                overflow: hidden;
                font-family: 'JetBrains Mono', monospace;
                font-size: 15px;
                color: #333;

                min-width: 40rem;

                textarea,
                input[type='Text'] {
                    display: grid;
                    place-content: center;
                    place-items: center;

                    padding: 0.25rem 0.5rem;

                    width: 100%;
                    height: 100%;

                    min-width: 40rem;
                    max-height: 20.5rem;

                    outline: none;
                    border: none;
                    background: none;

                    border-radius: 0.35rem;

                    resize: none;

                    &:focus {
                        resize: both;
                        box-shadow: inset 0 0 0.25rem #5a83ff;
                    }
                }
            }
        }

        > .output {
            margin-top: -0.25rem;

            padding: 0.5rem;
            padding-top: 0.75rem;

            display: grid;

            background: #ededed;
            border: 1px solid #ddd;
            border-bottom-left-radius: 0.35rem;
            border-bottom-right-radius: 0.35rem;

            box-shadow: inset 0 0 0.5rem #0001;
            overflow: auto;

            > .overflow-scrollable {
                min-width: 100%;
                width: max-content;
                display: grid;
                place-content: center;
            }
        }
    }

    .data {
        display: grid;
        align-content: center;

        min-width: 1.25rem;
        min-height: 1.25rem;

        &.array {
            grid-template-columns: auto auto;

            background: #fff;
            border: 1px solid #ccc;
            border-radius: 0.35rem;
            box-shadow: 0 0 0.5rem #0001;

            overflow: hidden;

            > .item {
                grid-column: span 2;
                grid-template-columns: subgrid;

                > .index {
                    padding: 0.25rem;
                    place-content: center;

                    font-family: 'JetBrains Mono', monospace;
                    font-size: 11px;
                    color: #666;

                    border-right: 1px solid #ccc;
                }

                > .value {
                    padding: 0.25rem;
                }

                &:hover {
                    background: #0000000d;
                }
            }

            &:not(.compact) {
                > .item {
                    &:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

            &.compact {
                grid-auto-flow: column;

                > .item {
                    grid-column: span 1;
                    grid-template-columns: auto;

                    > .index {
                        display: none;
                    }

                    &:not(:last-child) {
                        border-right: 1px solid #ccc;
                    }
                }
            }
        }

        &.grid {
            display: grid;
            grid-template-columns: repeat(var(--grid-columns), max-content);
            grid-template-rows: repeat(var(--grid-rows), max-content);

            background: #fff;
            border: 1px solid #ccc;
            border-radius: 0.35rem;
            box-shadow: 0 0 0.5rem #0001;

            overflow: clip;

            > .row {
                grid-column: 1 / -1;
                grid-template-columns: subgrid;

                &:not(:first-child) {
                    border-top: 1px solid #ccc;
                }

                > .cell {
                    padding: 0.125rem 0.25rem;
                    place-content: normal;

                    &:not(:first-child) {
                        border-left: 1px solid #ccc;
                    }

                    &:hover {
                        background: #0000000d;
                    }
                }

                > .header {
                    background: #f4f4f4;

                    padding: 0.25rem 0.5rem 0.125rem;
                    place-content: center;

                    font-size: 13px;
                    font-weight: 500;
                    color: #333;

                    white-space: nowrap;

                    &:not(:first-child) {
                        border-left: 1px solid #ccc;
                    }
                }

                &.info {
                    padding: 0.25rem 0.25rem;
                    grid-template-columns: auto;

                    place-content: center;
                    place-items: center;

                    font-size: 13px;
                }
            }
        }

        &.object {
            grid-template-columns: auto auto;

            background: #fff;
            border: 1px solid #ccc;
            border-radius: 0.35rem;
            box-shadow: 0 0 0.5rem #0001;

            > .entry {
                grid-column: span 2;
                grid-template-columns: subgrid;

                &:not(:first-child) {
                    border-top: 1px solid #ccc;
                }

                > .key {
                    justify-items: end;

                    padding: 0 0.25rem;
                    border-right: 1px solid #ccc;

                    font-size: 15px;
                    font-weight: 500;
                }

                > .value {
                    &:has(> .data.array),
                    &:has(> .data.object) {
                        padding: 0.25rem;
                    }
                }

                &:hover {
                    background: #0000000d;
                }
            }
        }

        &.number {
            padding: 0.125rem 0.25rem;
            justify-self: center;
            place-content: center;

            font-size: 14px;
            color: #4169e1;
            font-weight: 500;
        }

        &.string {
            padding: 0.125rem 0.25rem;

            font-size: 14px;
            color: #b38600;
        }

        &.dimmed {
            font-style: italic;
            font-size: 13px;
            color: #888;
        }
    }
}
